on:
  push:
    branches:
      - main
jobs:
  release:
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'mirkolenz' && github.event_name == 'push' }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - uses: cihelper/action-semanticrelease-generic@v1
