on:
  push:
    branches:
      - main
jobs:
  check:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@v14
      - uses: DeterminateSystems/magic-nix-cache-action@v8
      - run: nix flake check --show-trace --impure
  release:
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'mirkolenz' && github.event_name == 'push' }}
    needs: check
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: cihelper/action-semanticrelease-generic@v1
